{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Bleeding_After_Placenta{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Cómo tratar el sangrado excesivo después de que salga la placenta</h2>
			
			 <img src="images/chunked_14.png" class="hm-content-imgright" width="145"/> 
			<ul class="hm-content-noindent">
				<li>Pídale a la madre que orine. La vejiga llena impide que la matriz se contraiga.</li>
				<li>Ponga al bebé en el pecho de la madre para que empiece a mamar. Si el bebé no quiere mamar, sobe los pezones de la madre. Esto ayudará a que la matriz se contraiga y la placenta salga.</li>
				<li>Sobe con firmeza la parte de arriba de la matriz al nivel del ombligo hasta que la matriz se ponga dura. Siga sobando hasta que el sangrado excesivo se pare.</li>
				<li>Dele medicina para cortar el sangrado excesivo. Inyéctele 10 unidades de oxitocina en la nalga o el muslo, 1 sola vez, O</li>
				<li>Dele 800 microgramos de misoprostol para disolver en la boca, 1 sola vez. Ponga las pastillas debajo de la lengua y espere 30 minutos. Trague los pedacitos que queden. Si la mujer no puede tragar, meta las pastillas en el recto. Use un guante. O</li>
				<li>Dele 0,2 miligramos de ergometrina por la boca o por inyección en el muslo.</li>
			</ul>			
			<div class="hm-content-important clear">
				Una mujer que está sangrando mucho está en peligro de entrar en choque. Revísela para ver si presenta señas de estar en choque.
			</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_give_medicine_to_stop_bleeding.html" data-role="button" data-theme="c">Medicinas para detener el sangrado después del parto</a>
				<a href="Shock.html" data-role="button" data-theme="c">Señas de choque</a>
				<a href="How_to_rub_the_womb.html" data-role="button" data-theme="c">Sobar el vientre (la matriz)</a>
				<a href="How_to_inject_medicines_into_muscle.html" data-role="button" data-theme="c">Cómo poner una inyección</a>
				<a href="How_to_roll_nipples.html" data-role="button" data-theme="c">Cómo sobar los  pezones de la madre</a>
			</div>
		{% endblock %}
